.detailsMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
}

.goBackButton {
  font-size: 1.5rem;
  color: white;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color-dark);
  }
}