.inputWrapper {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.searchInput {
  width: 80%;
  max-width: 400px;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid var(--mainBlack);
  border-radius: 5px;
}