footer {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: var(--mainWhite);
  background-color: var(--mainBlack);
  font-size: 2rem;

  .footerNav {
    display: flex;
    padding-left: 5%;
  }
}