body {
  margin: 0
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

:root {
  --primary-color: #007bff;
  --primary-color-dark: #004ea1;
  --secondary-color: #f17900;
  --subTextSecondary-color: #e0a449;
  --mainBackGround-color: #fafafa;
}